/* These are the styles for
the whole document */

.main-title
{
    background: red;
    padding: 10px, 33px, 12px, 6px;
}

.fancy-font, .nav-bar
{
    font-family: 'Dosis', sans-serif;
    color: rgba(00, 00, 00, 0.6);
}

